* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

body {
  font-family: "Roboto", sans-serif; }

.404--text {
  font-weight: 100;
  color: white; }

h1 {
  font-size: 4.5em; }

.italic {
  font-style: italic; }

a {
  text-decoration: none; }

a:hover {
  color: turquoise; }

.intro--title, .intro--text {
  color: #333;
  font-size: 120px; }

.container--404 {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

#portfolio {
  width: 100%;
  margin: 20px 0px; }

.tile {
  float: left;
  min-height: 100px;
  max-height: 150px;
  width: 20%;
  border: 1px #fff solid; }

.tile:hover {
  opacity: 0.5; }

.illust {
  background: #00C5CD; }

.gdesign {
  background: #CC3232; }

.ui {
  background: #ddd; }

.grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense; }

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background-color: #FFC4AD;
  /* background:  url('https://images.unsplash.com/photo-1518050947974-4be8c7469f0c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0f8771b31190f1396c9aba686a5f729c&auto=format&fit=crop&w=750&q=80'); */
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(66, 75, 84, 0.4);
  transition: transform 0.3s ease-in-out; }
  .item:nth-of-type(2n) {
    background-color: #FFD166; }
  .item:nth-of-type(4n) {
    background-color: #91C7B1; }
  .item:nth-of-type(5n) {
    background-color: #F5E0B7; }
  .item:nth-of-type(6n) {
    background-color: #D4AFB9; }
  .item:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out; }
  .item:hover {
    transform: scale(1.05); }
    .item:hover:after {
      opacity: 0; }
  .item--medium {
    grid-row-end: span 2; }
  .item--large {
    grid-row-end: span 3; }
  .item--full {
    grid-column-end: auto; }
    @media screen and (min-width: 768px) {
      .item--full {
        grid-column: 1/-1;
        grid-row-end: span 2; } }
  .item__details {
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding: 15px;
    color: #444;
    background: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #828282; }
    .item__details:before {
      font-weight: bold;
      font-size: 1.1rem;
      padding-right: 0.5em;
      color: #444; }

.glitch {
  position: relative;
  width: 400px;
  margin: 0 auto; }

@keyframes noise-anim {
  0% {
    clip: rect(40px, 9999px, 45px, 0); }
  5% {
    clip: rect(78px, 9999px, 29px, 0); }
  10% {
    clip: rect(75px, 9999px, 20px, 0); }
  15% {
    clip: rect(90px, 9999px, 76px, 0); }
  20% {
    clip: rect(87px, 9999px, 76px, 0); }
  25% {
    clip: rect(5px, 9999px, 5px, 0); }
  30% {
    clip: rect(48px, 9999px, 21px, 0); }
  35% {
    clip: rect(29px, 9999px, 51px, 0); }
  40% {
    clip: rect(45px, 9999px, 1px, 0); }
  45% {
    clip: rect(91px, 9999px, 21px, 0); }
  50% {
    clip: rect(55px, 9999px, 20px, 0); }
  55% {
    clip: rect(46px, 9999px, 14px, 0); }
  60% {
    clip: rect(66px, 9999px, 87px, 0); }
  65% {
    clip: rect(46px, 9999px, 59px, 0); }
  70% {
    clip: rect(77px, 9999px, 14px, 0); }
  75% {
    clip: rect(48px, 9999px, 62px, 0); }
  80% {
    clip: rect(66px, 9999px, 85px, 0); }
  85% {
    clip: rect(75px, 9999px, 28px, 0); }
  90% {
    clip: rect(52px, 9999px, 53px, 0); }
  95% {
    clip: rect(8px, 9999px, 67px, 0); }
  100% {
    clip: rect(26px, 9999px, 53px, 0); } }

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(20px, 9999px, 39px, 0); }
  5% {
    clip: rect(36px, 9999px, 34px, 0); }
  10% {
    clip: rect(69px, 9999px, 42px, 0); }
  15% {
    clip: rect(67px, 9999px, 27px, 0); }
  20% {
    clip: rect(20px, 9999px, 37px, 0); }
  25% {
    clip: rect(94px, 9999px, 73px, 0); }
  30% {
    clip: rect(79px, 9999px, 40px, 0); }
  35% {
    clip: rect(100px, 9999px, 66px, 0); }
  40% {
    clip: rect(49px, 9999px, 98px, 0); }
  45% {
    clip: rect(21px, 9999px, 35px, 0); }
  50% {
    clip: rect(14px, 9999px, 5px, 0); }
  55% {
    clip: rect(25px, 9999px, 17px, 0); }
  60% {
    clip: rect(3px, 9999px, 72px, 0); }
  65% {
    clip: rect(62px, 9999px, 74px, 0); }
  70% {
    clip: rect(52px, 9999px, 33px, 0); }
  75% {
    clip: rect(96px, 9999px, 39px, 0); }
  80% {
    clip: rect(88px, 9999px, 50px, 0); }
  85% {
    clip: rect(20px, 9999px, 8px, 0); }
  90% {
    clip: rect(67px, 9999px, 19px, 0); }
  95% {
    clip: rect(98px, 9999px, 48px, 0); }
  100% {
    clip: rect(90px, 9999px, 21px, 0); } }

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }

.hidden {
  display: none; }

.center {
  text-align: center; }
