@charset "UTF-8";
@keyframes stripe-slide {
  0% {
    background-position: 0% 0; }
  100% {
    background-position: 100% 0; } }

* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif; }

body {
  font-family: "Roboto", sans-serif; }

.italic {
  font-style: italic; }

a {
  color: #333;
  text-decoration: none; }

a:hover {
  color: turquoise; }

.intro--h1 {
  color: #333;
  font-size: 120px;
  pointer-events: none;
  font-family: "Raleway", sans-serif; }

.intro--h2 {
  color: #333;
  font-size: 120px;
  pointer-events: none;
  font-size: 100px; }

.intro--text {
  color: #333;
  font-weight: 100;
  pointer-events: none;
  font-size: 60px; }

.filter--text {
  font-size: 40px; }

h1, h2, h3, p {
  margin: 5px; }

.hand-text {
  display: flex;
  align-items: center;
  font-family: Cutive Mono, monospace;
  margin: 10px;
  font-size: 12px; }
  .hand-text .hand-arrow-up {
    height: 50px; }

.accent-text {
  font-weight: bold;
  font-size: 16px; }

.icon-inline {
  width: 20px; }

.glitch-title {
  font-size: 72px;
  color: white; }

.glitch-text {
  font-size: 18px;
  color: white; }

ul {
  padding-left: 10px;
  list-style-type: none;
  margin-top: 10px; }

li {
  margin-bottom: 5px; }

.project-header h1 {
  color: white;
  font-size: 30px; }

.project-header p {
  color: white; }

.header-text a, .intro--text a {
  color: #333; }

.project-intro h2 {
  font-size: 58px;
  font-weight: 600;
  line-height: 1.2;
  font-family: "Raleway", sans-serif; }
  .project-intro h2 a {
    color: #333; }

.project-intro p {
  font-size: 18px;
  font-weight: 300px;
  line-height: 2; }

.sidebar-role {
  font-size: 16px; }

:root {
  --animation-delay: 0;
  --duration: 800ms;
  --iterations: 1; }

/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */
.reveal-text,
.reveal-text::after {
  animation-delay: var(--animation-delay, 4s);
  animation-iteration-count: var(--iterations, 1);
  animation-duration: var(--duration, 800ms);
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1); }

.reveal-text {
  position: relative;
  font-size: 10vw;
  animation-name: clip-text;
  white-space: nowrap;
  cursor: default; }
  .reveal-text::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    background-color: #d81b60;
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: text-revealer; }

@keyframes clip-text {
  from {
    clip-path: inset(0 100% 0 0); }
  to {
    clip-path: inset(0 0 0 0); } }

@keyframes text-revealer {
  0%, 50% {
    transform-origin: 0 50%; }
  60%, 100% {
    transform-origin: 100% 50%; }
  60% {
    transform: scaleX(1); }
  100% {
    transform: scaleX(0); } }

.container--404 {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.grid {
  margin-top: 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
  padding: 20px; }

@media (max-width: 425px) {
  .grid {
    grid-template-columns: none; } }

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background-color: #91e0b2;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 6px 0px rgba(66, 75, 84, 0.3);
  transition: transform 0.3s ease-in-out;
  border-radius: 6px; }
  .item:nth-of-type(2n) {
    background-color: #caffa5; }
  .item:nth-of-type(4n) {
    background-color: #a7f2a4; }
  .item:nth-of-type(5n) {
    background-color: #4AB38F; }
  .item:nth-of-type(6n) {
    background-color: #38A0A2; }
  .item:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out; }
  .item:hover {
    transform: scale(1.03); }
    .item:hover:after {
      opacity: 0; }
  .item--medium {
    grid-row-end: span 2; }
  .item--large {
    grid-row-end: span 3; }
  .item--full {
    grid-column-end: auto; }
    @media screen and (min-width: 768px) {
      .item--full {
        grid-column: 1/-1;
        grid-row-end: span 2; } }
  .item__details {
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding: 15px;
    color: #444;
    background: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #828282; }
    .item__details:before {
      font-weight: bold;
      font-size: 1.1rem;
      padding-right: 0.5em;
      color: #444; }

.intro--wrapper {
  padding: 20px;
  height: 400px;
  width: 100vw;
  pointer-events: none;
  user-select: none;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.filter--wrapper, .filter--btn__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  z-index: 2;
  position: relative; }

.filter--wrapper {
  display: block;
  margin-top: 100px; }

canvas {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 500px; }

css-doodle {
  position: absolute;
  max-height: 550px;
  max-width: 100vw;
  top: 0;
  right: 0;
  opacity: 0.5; }

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: white;
  box-shadow: 2px 2px 6px 0px rgba(66, 75, 84, 0.3);
  width: 100%;
  top: 0;
  align-items: center;
  padding: 10px;
  z-index: 6; }
  header .header-title a {
    color: #333;
    text-decoration: none; }

.skills-wrapper {
  max-height: 500px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05); }

.workaProject .project-header {
  background-color: #54347F; }

.workaProject .skills-wrapper {
  max-height: 500px;
  border-bottom: 2px solid #54347F; }

.adobeProject .project-header {
  background-color: #d81b60; }

.adobeProject .skills-wrapper {
  border-bottom: 2px solid #d81b60; }

.adobeProject .title-underlined {
  border-bottom: 2px solid #d81b60;
  padding-bottom: 5px;
  width: 50%; }

.locomotoraProject .project-header {
  background-color: #c0d476; }

.locomotoraProject .skills-wrapper {
  border-bottom: 2px solid #c0d476; }

.locomotoraProject .content-wrapper {
  width: 80%; }

.locomotoraProject .project-intro {
  display: flex;
  flex-wrap: nowrap; }

.samrioProject .project-header {
  background: linear-gradient(to right, #f199a6 0%, #f199a6 12%, #e4272b 88%, #e4272b 100%); }

.samrioProject .skills-wrapper {
  border-bottom: 2px solid #f199a6; }

.samrioProject .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.arenProject .project-header {
  margin-top: 50px;
  background-color: #99080f; }
  .arenProject .project-header img {
    width: 35%; }

.arenProject .skills-wrapper {
  border-bottom: 2px solid #99080f; }

.arenProject iframe {
  margin: 0; }

.unityProject .project-header {
  background-color: #39bda7; }
  .unityProject .project-header img {
    width: 20%; }

.unityProject .skills-wrapper {
  border-bottom: 2px solid #39bda7; }

.unityProject .project-img {
  max-width: 950px; }

.jsProject .project-header {
  background-color: #F7E018; }
  .jsProject .project-header h1,
  .jsProject .project-header p {
    color: #333; }
  .jsProject .project-header img {
    width: 20%; }

.jsProject .skills-wrapper {
  border-bottom: 2px solid #F7E018; }

.jsProject .project-img {
  max-width: 950px; }

.thProject .project-header {
  background-color: #39bda7; }
  .thProject .project-header img {
    width: 80%; }

.thProject .skills-wrapper {
  border-bottom: 2px solid #39bda7; }

.thProject .project-img {
  max-width: 950px; }

nav {
  height: 50px;
  display: flex;
  align-items: center; }

.project-header {
  margin-top: 50px;
  min-height: 150px;
  padding: 20px;
  justify-content: space-between;
  align-items: center; }
  .project-header img {
    width: 50%; }

.project-header-text {
  width: 50%; }

.sidebar-role {
  max-height: 550px;
  padding: 20px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s; }
  .sidebar-role:hover {
    border-color: #39bda7; }

.project-intro-wrapper {
  margin-top: 130px;
  margin-bottom: 30px;
  padding: 20px; }
  .project-intro-wrapper .project-intro {
    margin-left: 150px; }

.image-wrapper,
.gif-wrapper {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px; }
  .image-wrapper .img-left,
  .gif-wrapper .img-left {
    margin-right: 25px; }

.gif-wrapper {
  max-width: 1300px;
  align-items: center;
  border: 0; }

.worka-gif {
  width: 350px;
  margin-bottom: 50px; }

.project-img {
  max-width: 350px;
  margin: 20px; }

.project-img.single {
  width: 450px;
  flex-direction: column;
  align-self: center; }

.project-content-wrapper {
  display: flex;
  justify-content: center;
  background-color: #efefef; }

footer {
  position: sticky; }

img,
video,
iframe {
  width: 100%; }

iframe {
  margin: 20px; }

.project-card {
  padding: 20px;
  background-color: white;
  margin: 20px;
  flex-direction: column;
  box-shadow: -2px 2px 10px 0px rgba(66, 75, 84, 0.4); }
  .project-card .content-main {
    justify-content: center; }

.mobile-back {
  display: none; }

.glitch {
  position: relative;
  width: 400px;
  margin: 0 auto; }

@keyframes noise-anim {
  0% {
    clip: rect(54px, 9999px, 80px, 0); }
  5% {
    clip: rect(92px, 9999px, 23px, 0); }
  10% {
    clip: rect(88px, 9999px, 3px, 0); }
  15% {
    clip: rect(17px, 9999px, 38px, 0); }
  20% {
    clip: rect(26px, 9999px, 54px, 0); }
  25% {
    clip: rect(93px, 9999px, 29px, 0); }
  30% {
    clip: rect(32px, 9999px, 12px, 0); }
  35% {
    clip: rect(1px, 9999px, 42px, 0); }
  40% {
    clip: rect(95px, 9999px, 8px, 0); }
  45% {
    clip: rect(71px, 9999px, 61px, 0); }
  50% {
    clip: rect(2px, 9999px, 32px, 0); }
  55% {
    clip: rect(75px, 9999px, 20px, 0); }
  60% {
    clip: rect(32px, 9999px, 34px, 0); }
  65% {
    clip: rect(59px, 9999px, 82px, 0); }
  70% {
    clip: rect(43px, 9999px, 94px, 0); }
  75% {
    clip: rect(44px, 9999px, 25px, 0); }
  80% {
    clip: rect(44px, 9999px, 32px, 0); }
  85% {
    clip: rect(24px, 9999px, 83px, 0); }
  90% {
    clip: rect(89px, 9999px, 69px, 0); }
  95% {
    clip: rect(76px, 9999px, 76px, 0); }
  100% {
    clip: rect(30px, 9999px, 87px, 0); } }

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(17px, 9999px, 83px, 0); }
  5% {
    clip: rect(84px, 9999px, 3px, 0); }
  10% {
    clip: rect(63px, 9999px, 23px, 0); }
  15% {
    clip: rect(80px, 9999px, 38px, 0); }
  20% {
    clip: rect(82px, 9999px, 93px, 0); }
  25% {
    clip: rect(26px, 9999px, 2px, 0); }
  30% {
    clip: rect(66px, 9999px, 65px, 0); }
  35% {
    clip: rect(85px, 9999px, 60px, 0); }
  40% {
    clip: rect(92px, 9999px, 31px, 0); }
  45% {
    clip: rect(22px, 9999px, 25px, 0); }
  50% {
    clip: rect(2px, 9999px, 18px, 0); }
  55% {
    clip: rect(38px, 9999px, 56px, 0); }
  60% {
    clip: rect(57px, 9999px, 48px, 0); }
  65% {
    clip: rect(10px, 9999px, 24px, 0); }
  70% {
    clip: rect(64px, 9999px, 26px, 0); }
  75% {
    clip: rect(40px, 9999px, 68px, 0); }
  80% {
    clip: rect(2px, 9999px, 14px, 0); }
  85% {
    clip: rect(85px, 9999px, 4px, 0); }
  90% {
    clip: rect(5px, 9999px, 100px, 0); }
  95% {
    clip: rect(20px, 9999px, 21px, 0); }
  100% {
    clip: rect(54px, 9999px, 2px, 0); } }

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }

.btn--contact {
  margin-top: 35px; }

.btn--back {
  border: none;
  background-color: transparent;
  cursor: pointer; }
  .btn--back img {
    height: 25px;
    width: auto; }

.btn {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 36px 22px;
  background-color: #fff;
  color: #666;
  border: 2px solid #666;
  border-radius: 6px;
  margin-bottom: 16px;
  margin-right: 10px;
  transition: all .5s ease; }
  .btn:-moz-focus-inner {
    padding: 0;
    border: 0; }
  .btn--stripe {
    overflow: hidden;
    position: relative; }
    .btn--stripe:after {
      content: '';
      display: block;
      height: 7px;
      width: 100%;
      background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-top: 1px solid #666;
      position: absolute;
      left: 0;
      bottom: 0;
      background-size: 7px 7px; }
    .btn--stripe:hover, .btn--stripe .btn--active, .btn--stripe:focus {
      background-color: #666;
      color: #fff;
      border-color: #000; }
      .btn--stripe:hover:after, .btn--stripe .btn--active:after, .btn--stripe:focus:after {
        background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
        border-top: 1px solid #000;
        animation: stripe-slide 12s infinite linear forwards; }

.btn--active {
  background-color: #666;
  color: #fff;
  border-color: #000; }
  .btn--active:after {
    background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
    border-top: 1px solid #000;
    animation: stripe-slide 12s infinite linear forwards; }

.adobe:hover {
  transition: all 0.5s 0.1s ease-in-out;
  background: url("../img/adobe/pokemonWeb.png");
  background-size: cover;
  /* transform: none; */ }

.worka:hover {
  transition: all 0.5s 0.1s ease-in-out;
  background: url("../img/worka/dolzStatic.png");
  background-size: cover;
  /* transform: none; */ }

.entryscape:hover {
  transition: all 0.5s 0.1s ease-in-out;
  background: url("../img/locked.png");
  background-size: cover;
  /* transform: none; */ }

.locomotora:hover {
  transition: all 0.5s 0.1s ease-in-out;
  background: url("../img/locomotora/locomotoraStyle.jpg");
  background-size: cover;
  /* transform: none; */ }

.samrio:hover {
  transition: all 0.5s 0.1s ease-in-out;
  background: url("../img/sanrio/helloKityScreens.jpg");
  background-size: cover;
  /* transform: none; */ }

.aren:hover {
  transition: all 0.5s 0.1s ease-in-out;
  background: url("../img/aren/aren.png");
  background-size: cover;
  /* transform: none; */ }

.unity:hover {
  transition: all 0.5s 0.1s ease-in-out;
  background: url("../img/unity/unity.gif");
  background-size: cover;
  /* transform: none; */ }

.js:hover {
  transition: all 0.5s 0.1s ease-in-out;
  background: url("../img/jsChallenge/drumkit.png");
  background-size: cover;
  /* transform: none; */ }

.th:hover {
  transition: all 0.5s 0.1s ease-in-out;
  background: url("../img/thorns/clear.jpg");
  background-size: cover;
  /* transform: none; */ }

@media (max-width: 768px) {
  .mobile-back {
    display: flex; }
  .project-img {
    max-width: 300px; }
  .locomotoraProject .project-intro {
    flex-wrap: wrap; }
  .adobeProject .project-card {
    margin: 0; }
  .adobeProject .content-main {
    flex-wrap: wrap;
    justify-content: center; }
  .samrioProject .content-wrapper > div {
    flex-wrap: wrap;
    justify-content: center; } }

@media (max-width: 768px) {
  css-doodle, canvas, .intro--wrapper {
    max-height: 300px; }
  .intro--h1 {
    font-size: 40px; }
  .intro--h2 {
    font-size: 30px; }
  .intro--text {
    font-size: 24px; }
  .project-intro-wrapper {
    margin-top: 10px; }
    .project-intro-wrapper .skills-wrapper {
      display: none; }
    .project-intro-wrapper .project-intro {
      margin-left: 0; }
      .project-intro-wrapper .project-intro h2 {
        font-size: 30px; }
  .filter--wrapper {
    margin-top: 0; }
  .filter--text {
    font-size: 20px; }
  .header-text {
    font-size: 14px;
    text-align: end; }
  .btn--back img {
    display: none; }
  .unityProject .project-header img {
    width: 50%; }
  .jsProject .project-header img {
    width: 40%; } }

@media (min-width: 769px) and (max-width: 1440px) {
  .intro--h1 {
    font-size: 100px; }
  .intro--h2 {
    font-size: 70px; }
  .intro--text {
    font-size: 40px; } }

.hidden {
  display: none; }

.center {
  text-align: center; }

.flex {
  display: flex; }

.flex-sb {
  display: flex;
  justify-content: space-between; }
