* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif; }

body {
  font-family: "Roboto", sans-serif; }

.italic {
  font-style: italic; }

a {
  text-decoration: none; }

a:hover {
  color: turquoise; }

.intro--title, .intro--text {
  color: #333;
  font-size: 120px; }

.intro--text {
  font-weight: 100; }

h1, h2, h3, p {
  margin: 5px; }

.hand-text {
  display: flex;
  align-items: center;
  font-family: Cutive Mono, monospace;
  margin: 10px;
  font-size: 12px; }
  .hand-text .hand-arrow-up {
    height: 50px; }

.icon-inline {
  width: 20px; }

.glitch-title {
  font-size: 72px;
  color: white; }

.glitch-text {
  font-size: 18px;
  color: white; }

ul {
  padding-left: 10px;
  list-style-type: none;
  margin-top: 10px; }

li {
  margin-bottom: 5px; }

.project-header h1 {
  color: white;
  font-size: 30px; }

.project-header p {
  color: white; }

.project-intro {
  font-size: 18px; }

.sidebar-role {
  font-size: 16px; }

.container--404 {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.grid {
  margin-top: 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
  padding: 20px; }

@media (max-width: 425px) {
  .grid {
    grid-template-columns: none; } }

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background-color: #91e0b2;
  /* background:  url('https://images.unsplash.com/photo-1518050947974-4be8c7469f0c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0f8771b31190f1396c9aba686a5f729c&auto=format&fit=crop&w=750&q=80'); */
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(66, 75, 84, 0.4);
  transition: transform 0.3s ease-in-out; }
  .item:nth-of-type(2n) {
    background-color: #caffa5; }
  .item:nth-of-type(4n) {
    background-color: #a7f2a4; }
  .item:nth-of-type(5n) {
    background-color: #4AB38F; }
  .item:nth-of-type(6n) {
    background-color: #38A0A2; }
  .item:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out; }
  .item:hover {
    transform: scale(1.05); }
    .item:hover:after {
      opacity: 0; }
  .item--medium {
    grid-row-end: span 2; }
  .item--large {
    grid-row-end: span 3; }
  .item--full {
    grid-column-end: auto; }
    @media screen and (min-width: 768px) {
      .item--full {
        grid-column: 1/-1;
        grid-row-end: span 2; } }
  .item__details {
    cursor: pointer;
    position: relative;
    z-index: 1;
    padding: 15px;
    color: #444;
    background: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #828282; }
    .item__details:before {
      font-weight: bold;
      font-size: 1.1rem;
      padding-right: 0.5em;
      color: #444; }

.intro--wrapper {
  /*     background: url('http://thecodeplayer.com/uploads/media/geometry.png');
 */
  padding: 20px;
  min-height: 400px; }

.filter--wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px; }

css-doodle {
  position: absolute;
  max-height: 550px;
  max-width: 100vw;
  top: 0;
  right: 0;
  opacity: 0.5; }

@media (max-width: 768px) {
  css-doodle, .intro--wrapper {
    max-height: 300px; } }

@media (max-width: 768px) {
  .intro--title, .intro--text {
    color: #333;
    font-size: 28px; } }

.skills-wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05); }

.workaProject .project-header {
  background-color: #54347F; }

.workaProject .skills-wrapper {
  border-bottom: 2px solid #54347F; }

.adobeProject .project-header {
  background-color: #d81b60; }

.adobeProject .skills-wrapper {
  border-bottom: 2px solid #d81b60; }

.adobeProject .title-underlined {
  border-bottom: 1px solid #d81b60;
  width: 50%; }

.locomotoraProject .project-header {
  background-color: #c0d476; }

.locomotoraProject .skills-wrapper {
  border-bottom: 2px solid #c0d476; }

.locomotoraProject .content-wrapper {
  width: 80%; }

.locomotoraProject .project-intro {
  display: flex;
  flex-wrap: nowrap; }

.samrioProject .project-header {
  background: linear-gradient(to right, #f199a6 0%, #f199a6 12%, #e4272b 88%, #e4272b 100%); }

.samrioProject .skills-wrapper {
  border-bottom: 2px solid #f199a6; }

.samrioProject .content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

nav {
  height: 50px;
  display: flex;
  align-items: center; }

.project-header {
  min-height: 150px;
  padding: 20px;
  justify-content: space-between;
  align-items: center; }
  .project-header img {
    width: 50%; }

.sidebar-role {
  max-height: 550px;
  padding: 20px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s; }
  .sidebar-role:hover {
    border-color: #39bda7; }

.project-intro-wrapper {
  margin-top: 30px;
  padding: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.image-wrapper, .gif-wrapper {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px; }
  .image-wrapper .img-left, .gif-wrapper .img-left {
    margin-right: 25px; }

.gif-wrapper {
  max-width: 1300px;
  align-items: center;
  border: 0; }

.static {
  position: absolute; }
  .static:hover {
    opacity: 0; }

.worka-gif {
  width: 350px;
  margin-bottom: 50px; }

.project-img {
  max-width: 350px;
  margin: 20px; }

.project-img.single {
  width: 450px;
  flex-direction: column;
  align-self: center; }

.project-content-wrapper {
  display: flex;
  justify-content: center;
  background-color: #efefef; }

footer {
  position: sticky; }

img, video, iframe {
  width: 100%; }

iframe {
  margin: 20px; }

.project-card {
  padding: 20px;
  background-color: white;
  margin: 20px;
  flex-direction: column;
  box-shadow: -2px 2px 10px 0px rgba(66, 75, 84, 0.4); }
  .project-card .content-main {
    justify-content: center; }

.mobile-back {
  display: none; }

@media (max-width: 768px) {
  .mobile-back {
    display: flex; }
  .locomotoraProject .project-intro {
    flex-wrap: wrap; }
  .adobeProject .project-card {
    margin: 0; }
  .adobeProject .content-main {
    flex-wrap: wrap; } }

.glitch {
  position: relative;
  width: 400px;
  margin: 0 auto; }

@keyframes noise-anim {
  0% {
    clip: rect(48px, 9999px, 35px, 0); }
  5% {
    clip: rect(85px, 9999px, 7px, 0); }
  10% {
    clip: rect(11px, 9999px, 51px, 0); }
  15% {
    clip: rect(69px, 9999px, 7px, 0); }
  20% {
    clip: rect(5px, 9999px, 51px, 0); }
  25% {
    clip: rect(38px, 9999px, 46px, 0); }
  30% {
    clip: rect(40px, 9999px, 39px, 0); }
  35% {
    clip: rect(73px, 9999px, 36px, 0); }
  40% {
    clip: rect(45px, 9999px, 3px, 0); }
  45% {
    clip: rect(46px, 9999px, 74px, 0); }
  50% {
    clip: rect(95px, 9999px, 70px, 0); }
  55% {
    clip: rect(10px, 9999px, 96px, 0); }
  60% {
    clip: rect(22px, 9999px, 69px, 0); }
  65% {
    clip: rect(87px, 9999px, 76px, 0); }
  70% {
    clip: rect(45px, 9999px, 5px, 0); }
  75% {
    clip: rect(47px, 9999px, 17px, 0); }
  80% {
    clip: rect(46px, 9999px, 95px, 0); }
  85% {
    clip: rect(10px, 9999px, 36px, 0); }
  90% {
    clip: rect(55px, 9999px, 82px, 0); }
  95% {
    clip: rect(13px, 9999px, 10px, 0); }
  100% {
    clip: rect(60px, 9999px, 86px, 0); } }

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse; }

@keyframes noise-anim-2 {
  0% {
    clip: rect(11px, 9999px, 31px, 0); }
  5% {
    clip: rect(4px, 9999px, 88px, 0); }
  10% {
    clip: rect(84px, 9999px, 34px, 0); }
  15% {
    clip: rect(51px, 9999px, 42px, 0); }
  20% {
    clip: rect(10px, 9999px, 100px, 0); }
  25% {
    clip: rect(23px, 9999px, 71px, 0); }
  30% {
    clip: rect(40px, 9999px, 45px, 0); }
  35% {
    clip: rect(38px, 9999px, 8px, 0); }
  40% {
    clip: rect(35px, 9999px, 71px, 0); }
  45% {
    clip: rect(96px, 9999px, 76px, 0); }
  50% {
    clip: rect(45px, 9999px, 81px, 0); }
  55% {
    clip: rect(56px, 9999px, 35px, 0); }
  60% {
    clip: rect(60px, 9999px, 49px, 0); }
  65% {
    clip: rect(95px, 9999px, 92px, 0); }
  70% {
    clip: rect(96px, 9999px, 28px, 0); }
  75% {
    clip: rect(53px, 9999px, 6px, 0); }
  80% {
    clip: rect(3px, 9999px, 63px, 0); }
  85% {
    clip: rect(55px, 9999px, 94px, 0); }
  90% {
    clip: rect(5px, 9999px, 9px, 0); }
  95% {
    clip: rect(67px, 9999px, 89px, 0); }
  100% {
    clip: rect(93px, 9999px, 33px, 0); } }

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse; }

.btn--filter {
  margin: 10px;
  padding: 12px 24px;
  background-color: white;
  border: 2px solid #20B7BA;
  transition: ease-in-out 0.6s;
  cursor: pointer; }
  .btn--filter:hover {
    background-color: #20B7BA; }

.btn--contact {
  margin-top: 35px; }

.btn--back {
  border: none;
  background-color: transparent;
  cursor: pointer; }
  .btn--back img {
    height: 30px;
    width: auto; }

.adobe:hover {
  transition: all 0.2s ease-in;
  background: url("../img/pokemonWeb.png");
  background-size: cover;
  transform: none; }

.worka:hover {
  transition: all 0.2s ease-in;
  background: url("../img/dolzStatic.png");
  background-size: cover;
  transform: none; }

.entryscape:hover {
  transition: all 0.2s ease-in;
  background: url("../img/locked.png");
  background-size: cover;
  transform: none; }

.locomotora:hover {
  transition: all 0.2s ease-in;
  background: url("../img/locomotoraStyle.jpg");
  background-size: cover;
  transform: none; }

.samrio:hover {
  transition: all 0.2s ease-in;
  background: url("../img/helloKityScreens.jpg");
  background-size: cover;
  transform: none; }

.hidden {
  display: none; }

.center {
  text-align: center; }

.flex {
  display: flex; }
