$fontFamily: 'Roboto', sans-serif;
$fontTitle: 'Raleway', sans-serif;
$fonthand: Cutive Mono, monospace;
$fontLightWeight: 100;
//TRANSITIONS
$hover: all 0.4s ease-in-out;
$slide:all 0.5s 0.1s ease-in-out;

//COLORS
$textColour: #333;
$grey: #4f4f4f;
$lightgrey:#fffcfc;
$white: #ffffff;
$green: #39bda7;
$transparent: rgba(255, 255, 255, 0);
$black-05: rgba(0, 0, 0, 0.05);
$worka:#82589F;
$locomotora:#afea85;
$xD:#B33771;
$sanrio:#FC427B;
$aren:#99080f;
$js:#EAB543;
$blue:#7bd0d0;
$color-gray: #666;
$color-black: #000;
$stripe-height: 7px;
$btn-color: $color-gray;
$btn-background: #fff;
$btn-color-hover: #fff;
$btn-background-hover: $color-gray;
$border-color: $color-gray;
$border-color-hover: $color-black;

@mixin reset-button {
    overflow : visible;
    margin : 0;
    padding : 0;
    border : 0;
    background : transparent;
    font : inherit;
    line-height : normal;
    cursor : pointer;
    -moz-user-select : text;
    
    &:-moz-focus-inner {
        padding : 0;
        border : 0;
    }
}

@keyframes stripe-slide {
    0% { background-position: 0% 0; }
    100% { background-position: 100% 0; }
}
* {
  box-sizing: border-box;
  
}

body {
  padding: 0;
  margin: 0;
  font-family: $fontFamily;

}
