body {
  font-family: $fontFamily;
}


.italic{
  font-style: italic;
}
a{
  color:$textColour;
  text-decoration: none;
}
a:hover{
  color: turquoise;
}

.intro--h1{
  color:$textColour;
  font-size: 120px;
  pointer-events: none;
  font-family: $fontTitle;

}
.intro--h2{
  color:$textColour;
  font-size: 120px;
  pointer-events: none;
  font-size: 100px;
}
.intro--text{
  color:$textColour;
  font-weight: 100;
  pointer-events:none;
  font-size: 60px;

}
.filter--text{
  font-size: 40px;
}
h1,h2,h3,p{
  margin:5px;
}

.hand-text{
  display: flex;
  align-items: center;
  font-family:$fonthand;
  margin: 10px;
  font-size: 12px;
  .hand-arrow-up{
    height: 50px;
  }
}
.accent-text{
  font-weight: bold;
  font-size: 16px;
}
.icon-inline{
  width: 20px;
}
.glitch-title{
  font-size:72px;
  color:white;
}
.glitch-text{
  font-size: 18px;
  color:white;
}
ul{
  padding-left: 10px;
  list-style-type:none;
  margin-top:10px;
}
li{
  margin-bottom: 5px;
}

.project-header{
  h1{
    color:white;
    font-size: 30px;
  }
  p{
    color: white;
  }
}
.header-text, .intro--text{
  a{
    color:$textColour;
  }
}
.project-intro{
    h2{
      font-size: 58px;
      font-weight: 600;
      line-height: 1.2;
      font-family: "Raleway", sans-serif;
      a{
        color: $textColour;
      }
    }
    p{
      font-size: 18px;
      font-weight: 300px;
      line-height: 2;

    }
}
.sidebar-role{
  font-size:16px;

}

:root {
	--animation-delay: 0;
	--duration: 800ms;
	--iterations: 1;
}
/* ••·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */


.reveal-text,
.reveal-text::after {
	animation-delay: var(--animation-delay, 4s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.reveal-text {
	position: relative;
	font-size: 10vw;
	animation-name: clip-text;
	white-space: nowrap;
	cursor: default;
	
	&::after {
		content: "";
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
    transform: scaleX(0);
    background-color:$xD;
		transform-origin: 0 50%;
		pointer-events: none;
		animation-name: text-revealer;
	}
	
}


@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}


@keyframes text-revealer {
	
	0%, 50% {
		transform-origin: 0 50%;
	}
	
	60%, 100% {
		transform-origin: 100% 50%;		
	}

	
	60% {
		transform: scaleX(1);
	}
	
	100% {
		transform: scaleX(0);
	}
}