
.grid {
    margin-top:20px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 150px;
    grid-auto-flow: row dense;
    padding: 20px;
  }
  @media (max-width:425px){
    .grid{
      grid-template-columns: none;
  }
}
  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    color: #fff;
    grid-column-start: auto;
    grid-row-start: auto;
    color: #fff;
    background-color: #91e0b2;
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 6px 0px rgba(#424B54, 0.3);
    transition: transform 0.3s ease-in-out;
    
    &:nth-of-type(2n) {
      background-color: #caffa5;
    }
    
    &:nth-of-type(4n) {
      background-color:#a7f2a4 ;
    }
    
    &:nth-of-type(5n) {
      background-color:  #4AB38F;
    }
    
    &:nth-of-type(6n) {
      background-color:#38A0A2;
    }
    
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      transition: opacity 0.3s ease-in-out;
    }
    
    &:hover {
      transform: scale(1.05);
      
      &:after {
        opacity: 0;
      }
    }
  
    &--medium {
      grid-row-end: span 2;
    }
  
    &--large {
      grid-row-end: span 3;
    }
  
    &--full {
      grid-column-end: auto;
  
      @media screen and (min-width: 768px) {
        grid-column: 1/-1;
        grid-row-end: span 2;
      }
    }
    
    &__details {
      cursor: pointer;
      position: relative;
      z-index: 1;
      padding: 15px;
      color: #444;
      background: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #828282;
      
      &:before {
        font-weight: bold;
        font-size: 1.1rem;
        padding-right: 0.5em;
        color: #444;
      }
    }
  }