
body{
    padding: 20px;
}

.intro--wrapper{
    background: url('http://thecodeplayer.com/uploads/media/geometry.png');
    padding: 20px;
}

.filter--wrapper{
    display: flex;
    flex-wrap: wrap;
}