

.skills-wrapper{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:10px;
    border-bottom:2px solid $black-05;
}

.workaProject{
.project-header{
    background-color:$worka;
}
.skills-wrapper{
    border-bottom: 2px solid $worka;
}
}
    

.adobeProject{
    .project-header{
        background-color:$xD;
    }
    .skills-wrapper{
        border-bottom: 2px solid $xD;
    }

}
.locomotoraProject{
    .project-header{
        background-color:$locomotora;
    }
    .skills-wrapper{
        border-bottom: 2px solid $locomotora;
    }
    .content-wrapper{
        width: 80%;
    }
    .project-intro{
        display: flex;
        flex-wrap: nowrap;
    }
}


nav{
    height: 50px;
    display: flex;
    align-items: center;
}
.project-header{
    min-height: 150px;
    padding: 20px;
    justify-content:space-between;
    align-items: center;
    img{
        width: 50%;
    }
}


.sidebar-role{
    max-height: 550px;
    padding: 20px;
    text-align: left;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    transition: all .5s;
    &:hover{
        border-color: #39bda7;
    }
}
.project-intro-wrapper{
    margin-top:30px;
    padding: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.image-wrapper, .gif-wrapper{
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
  
    .img-left{
        margin-right: 25px;
    }
}
.gif-wrapper{
    max-width: 1300px;
    align-items: center;
    border:0;
}
.static{
    position: absolute;
    &:hover{
        opacity: 0;
    }
}

.worka-gif{
    width: 350px;
    margin-bottom: 50px;
}

.project-img{
    width: 350px;
    margin-top:20px;
}

.project-content-wrapper{
    display: flex;
    justify-content: center;
    background-color: $lightgrey;
}

footer{
    position:sticky;
}
img, video, iframe{
    width: 100%;
}



@media(max-width:768px){
    .locomotoraProject{
        .project-intro{
            flex-wrap: wrap;
        }
    }
}