header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: white;
    box-shadow: 2px 2px 6px 0px rgba(66, 75, 84, 0.3);
    width: 100%;
    top: 0;
    align-items: center;
    padding: 10px;
    z-index: 6;

    .header-title a {
        color: $textColour;
        text-decoration: none;
    }
}

.skills-wrapper {
    max-height: 500px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 2px solid $black-05;
}

.workaProject {
    .project-header {
        background-color: $worka;
    }

    .skills-wrapper {
        max-height: 500px;
        border-bottom: 2px solid $worka;
    }
}


.adobeProject {
    .project-header {
        background-color: $xD;
    }

    .skills-wrapper {
        border-bottom: 2px solid $xD;
    }

    .title-underlined {
        border-bottom: 2px solid $xD;
        padding-bottom: 5px;
        width: 50%;
    }


}

.locomotoraProject {
    .project-header {
        background-color: $locomotora;
    }

    .skills-wrapper {
        border-bottom: 2px solid $locomotora;
    }

    .content-wrapper {
        width: 80%;
    }

    .project-intro {
        display: flex;
        flex-wrap: nowrap;
    }
}

.samrioProject {
    .project-header {
        background: linear-gradient(to right, rgba(241, 153, 166, 1) 0%, rgba(241, 153, 166, 1) 12%, rgba(228, 39, 43, 1) 88%, rgba(228, 39, 43, 1) 100%);
    }

    .skills-wrapper {
        border-bottom: 2px solid rgba(241, 153, 166, 1);
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

.arenProject {
    .project-header {
        margin-top: 50px;
        background-color: $aren;

        img {
            width: 35%;
        }
    }

    .skills-wrapper {
        border-bottom: 2px solid $aren;
    }

    iframe {
        margin: 0;
    }
}

.unityProject {
    .project-header {
        background-color: $green;

        img {
            width: 20%;
        }
    }

    .skills-wrapper {
        border-bottom: 2px solid $green;
    }

    .project-img {
        max-width: 950px;
    }
}

.jsProject {
    .project-header {

        h1,
        p {
            color: $textColour;
        }

        background-color:$js;

        img {
            width: 20%;
        }
    }

    .skills-wrapper {
        border-bottom: 2px solid $js;
    }

    .project-img {
        max-width: 950px;
    }
}

.thProject {
    .project-header {
        background-color: $green;

        img {
           /*  width: 20%; */
        }
    }

    .skills-wrapper {
        border-bottom: 2px solid $green;
    }

    .project-img {
        max-width: 950px;
    }
}

nav {
    height: 50px;
    display: flex;
    align-items: center;
}

.project-header {
    margin-top: 50px;
    min-height: 150px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

    img {
        width: 50%;
    }
}

.project-header-text {
    width: 50%;
}

.sidebar-role {
    max-height: 550px;
    padding: 20px;
    text-align: left;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    transition: all .5s;

    &:hover {
        border-color: #39bda7;
    }
}

.project-intro-wrapper {
    margin-top: 130px;
    margin-bottom: 30px;
    padding: 20px;

    .project-intro {
        margin-left: 150px;
    }
}

.image-wrapper,
.gif-wrapper {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;

    .img-left {
        margin-right: 25px;
    }
}

.gif-wrapper {
    max-width: 1300px;
    align-items: center;
    border: 0;
}

.worka-gif {
    width: 350px;
    margin-bottom: 50px;
}

.project-img {
    max-width: 350px;
    margin: 20px;
}

.project-img.single {
    width: 450px;
    flex-direction: column;
    align-self: center;
}

.project-content-wrapper {
    display: flex;
    justify-content: center;
    background-color: $lightgrey;
}

footer {
    position: sticky;
}

img,
video,
iframe {
    width: 100%;
}

iframe {
    margin: 20px;
}

.project-card {
    padding: 20px;
    background-color: white;
    margin: 20px;
    flex-direction: column;
    box-shadow: -2px 2px 10px 0px rgba(#424B54, 0.4);

    .content-main {
        justify-content: center;
    }

}

.mobile-back {
    display: none;
}