@media(max-width:768px){

  .project__card{
    width: 350px;
    
    .project__card--description{
      top:unset;
      height: 200px;
      margin-right: 0;
      padding: 20px;
      border-radius: 0;
      .btn{
        display: none;
      }
     
      }
      
  }
  .project__card.--left{
    .project__card--description{
      margin-left: 0;

    }
  }
  .adobe {
    }

.worka {
  .project__card--img{
    max-width: 200px;
  }
    }

.entryscape {
    }

.locomotora {
    }

.sanrio {
    }

.aren {
    
    }

.unity {
        
    }

.js {
    }

.th {
        
    }


  .mobile-back{
      display: flex;
  }
  .project-img{
      max-width: 300px;
  }
  .locomotoraProject{
      .project-intro{
          flex-wrap: wrap;
      }
  }
  .adobeProject{
      .project-card{
          margin:0;
      }
      .content-main{
          flex-wrap: wrap;
          justify-content: center;
      }
  }
  .sanrioProject{
      .content-wrapper>div{
          flex-wrap: wrap;
          justify-content: center;
      }
  }


  css-doodle, canvas, .intro--wrapper{
    max-height: 300px;
    .intro--h1{
      font-size: 55px;
  }
  .intro--h2{
      font-size: 30px;
  }
  .intro--text{
      font-size: 24px;
  }
}

.project-intro-wrapper{
  margin-top:10px;
  .skills-wrapper{
    display: none;
  }
  .project-intro{
    margin-left:0;
    h2{
      font-size: 30px;
    }
  }
}


.filter--wrapper{
  margin-top: 0;
}
.filter--text{
  font-size: 20px;
}


.header-text{
  font-size: 14px;
  text-align: end;
}
.btn--back img{
 display: none;
}

}
@media(min-width:769px)and (max-width:1440px){
  .intro--h1{
    font-size: 100px;
  }
  .intro--h2{
    font-size: 70px;
  }
  .intro--text{
    font-size: 40px;
  }
}
