@media(max-width:768px){
  .adobe {
        background: url("../img/adobe/pokemonWeb.png");
        background-size: cover;
        /* transform: none; */
    }

.worka {
        background: url("../img/worka/dolzStatic.png");
        background-size: cover;
        /* transform: none; */
    }

.entryscape {
        background: url("../img/locked.png");
        background-size: cover;
        /* transform: none; */
    }

.locomotora {
        background: url("../img/locomotora/locomotoraStyle.png");
        background-size: cover;
        /* transform: none; */
    }

.sanrio {
        background: url("../img/sanrio/helloKityScreens.png");
        background-size: cover;
        /* transform: none; */
    }

.aren {
        background: url("../img/aren/aren.png");
        background-size: cover;
        /* transform: none; */
    }

.unity {
        background: url("../img/unity/unity.gif");
        background-size: cover;
        /* transform: none; */
    }

.js {
        background: url("../img/jsChallenge/drumkit.png");
        background-size: cover;
        /* transform: none; */
    }

.th {
        background: url("../img/thorns/clear.jpg");
        background-size: cover;
        /* transform: none; */
    }


  .mobile-back{
      display: flex;
  }
  .project-img{
      max-width: 300px;
  }
  .locomotoraProject{
      .project-intro{
          flex-wrap: wrap;
      }
  }
  .adobeProject{
      .project-card{
          margin:0;
      }
      .content-main{
          flex-wrap: wrap;
          justify-content: center;
      }
  }
  .sanrioProject{
      .content-wrapper>div{
          flex-wrap: wrap;
          justify-content: center;
      }
  }
}
@media(max-width:768px){

  css-doodle, canvas, .intro--wrapper{
    max-height: 300px;
}
.intro--h1{
    font-size: 40px;
}
.intro--h2{
    font-size: 30px;
}
.intro--text{
    font-size: 24px;
}
.project-intro-wrapper{
  margin-top:10px;
  .skills-wrapper{
    display: none;
  }
  .project-intro{
    margin-left:0;
    h2{
      font-size: 30px;
    }
  }
}


.filter--wrapper{
  margin-top: 0;
}
.filter--text{
  font-size: 20px;
}


.header-text{
  font-size: 14px;
  text-align: end;
}
.btn--back img{
 display: none;
}
.unityProject{
  .project-header{
    img{
      width: 50%;
    }
  }
}
.jsProject{
  .project-header{
    img{
      width: 40%;
    }
  }
}
}
@media(min-width:769px)and (max-width:1440px){
  .intro--h1{
    font-size: 100px;
  }
  .intro--h2{
    font-size: 70px;
  }
  .intro--text{
    font-size: 40px;
  }
}
