.adobe {
    &:hover {
        transition: $slide;
        background: url("../img/adobe/pokemonWeb.png");
        background-size: cover;
        /* transform: none; */
    }
}

.worka {
    &:hover {
        transition: $slide;
        background: url("../img/worka/dolzStatic.png");
        background-size: cover;
        /* transform: none; */
    }
}

.entryscape {
    &:hover {
        transition: $slide;
        background: url("../img/locked.png");
        background-size: cover;
        /* transform: none; */
    }
}

.locomotora {
    &:hover {
        transition: $slide;
        background: url("../img/locomotora/locomotoraStyle.png");
        background-size: cover;
        /* transform: none; */
    }
}

.samrio {
    &:hover {
        transition: $slide;
        background: url("../img/sanrio/helloKityScreens.png");
        background-size: cover;
        /* transform: none; */
    }
}

.aren {
    &:hover {
        transition: $slide;
        background: url("../img/aren/aren.png");
        background-size: cover;
        /* transform: none; */
    }
}

.unity {
    &:hover {
        transition: $slide;
        background: url("../img/unity/unity.gif");
        background-size: cover;
        /* transform: none; */
    }
}

.js {
    &:hover {
        transition: $slide;
        background: url("../img/jsChallenge/drumkit.png");
        background-size: cover;
        /* transform: none; */
    }
}

.th {
    &:hover {
        transition: $slide;
        background: url("../img/thorns/clear.jpg");
        background-size: cover;
        /* transform: none; */
    }
}