
.adobe{
    &:hover{
        transition: $hover;
  background: url("../img/pokemonWeb.png");
 background-size: cover;
 transform: none;
    }
}
.worka{
    &:hover{
        transition: $hover;
        background: url("../img/dolzStatic.png");
        background-size: cover;
        transform: none;
    }
}

.entryscape{
    &:hover{
        transition: $hover;
        background: url("../img/locked.png");
        background-size: cover;
        transform: none;
    }
}

.locomotora{
    &:hover{
        transition: $hover;
        background: url("../img/locomotoraStyle.jpg");
        background-size: cover;
        transform: none;
    }
}

.samrio{
    &:hover{
        transition: $hover;
        background: url("../img/helloKityScreens.jpg");
        background-size: cover;
        transform: none;
    }
}

 